<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-log2c-image-picker" version="2.0.3"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Image picker</name>
    <description>Cordova Image picker plugin.</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,Image,Picker</keywords>
    <js-module src="www/index.js" name="ImagePicker">
        <clobbers target="ImagePicker" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ImagePicker">
                <param name="android-package" value="com.log2c.cordova.plugin.imagepicker.ImagePickerPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/GlideEngine.java" target-dir="src/com/log2c/cordova/plugin/imagepicker" />
        <source-file src="src/android/ImagePickerPlugin.java" target-dir="src/com/log2c/cordova/plugin/imagepicker" />
        <source-file src="src/android/LubanCompressEngine.java" target-dir="src/com/log2c/cordova/plugin/imagepicker" />
        <source-file src="src/android/OptionModel.java" target-dir="src/com/log2c/cordova/plugin/imagepicker" />
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
        <resource-file src="aars/easy_photos_20230927.aar" target="libs/easy_photos.aar" />
        <resource-file src="aars/Luban-1.1.8.aar" target="libs/Luban-1.1.8.aar" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ImagePicker">
                <param name="ios-package" value="ImagePickerPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/Plugins/ImagePickerPlugin.h" />
        <source-file src="src/ios/Plugins/ImagePickerPlugin.m" />
        <header-file src="src/ios/Plugins/NSDictionary+SYSafeConvert.h" />
        <source-file src="src/ios/Plugins/NSDictionary+SYSafeConvert.m" />
        <podspec>
            <config>
                <source url="https://github.com/aliyun/aliyun-specs.git"/>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name ="TZImagePickerController" />
            </pods>
        </podspec>
    </platform>
</plugin>